{% extends 'layout.html.twig' %}

{% block title %}Hello SecondController!{% endblock %}

{% block body %}
{# je suis un commmentaire #}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅ C'est votre {{ app.session.get('number') }} visite(s)</h1>
    <h2>Hello {{ esm }}! ✅</h2>
    <h3>Votre age est {{ a3mor }}ans! ✅</h3>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'G:/symfony projects/rt2g32022/src/Controller/SecondController.php'|file_link(0) }}">src/Controller/SecondController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'G:/symfony projects/rt2g32022/templates/second/index.html.twig'|file_link(0) }}">templates/second/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
