{% extends 'layout.html.twig' %}
{% block body %}


<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
 je suis un commentaire
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅ C'est votre {{ app.session.get('number') }} visite(s)</h1>
    <h2>Hello {{ esm }}! ✅</h2>
    <h3>Votre age est {{ a3mor }}ans! ✅</h3>
{#    <a href="********">lien</a>#}
    <a href="{{ path('first') }}"> first relatif</a><br>
    <a href="{{ url('first') }}"> first absolue</a>
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'G:/symfony projects/rt2g32022/src/Controller/SecondController.php'|file_link(0) }}">src/Controller/SecondController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'G:/symfony projects/rt2g32022/templates/second/index.html.twig'|file_link(0) }}">templates/second/index.html.twig</a></code></li>
    </ul>
</div>

    {{ parent() }}
{% endblock %}
{% block title %}
    Second
{% endblock %}